<div data-controller='phone'>
  <h1 id='verify-your-phone'>Verify Your Phone!</h1>
  <h1 id='sms-sent' hidden>An SMS with a verification code has been sent to the number provided!</h1>
  <h1 id='verification-successful' hidden>Verification Successful!</h1>

  <form>
  <div id='phone-verify-fields'>
    <label>Enter your Phone Number:</label><input data-phone-target="number" id='phone-number' type="text"/><br/>
    <button data-action="click->phone#sendSMSPhoneVerification" id='submit-phone-number'>Send Verification Code</button>
  </div>
    
    <div id='verify-code-fields' hidden>
      <label>Please enter the Verification Code you just received:</label><input data-phone-target="code" id='verification-code' type="text"/><br/>
      <button data-action="click->phone#sendVerificationCode" id='submit-verification-code'>Verify Code</button>
    </div>


    <input type="hidden" id='phone-primary-key-id'/><br/>
  </form>
</div>
